.colorFont{
  color: #3C8270;
}
.colorBack{
  background-color: #FBEAB7;
}
.colorBackWhite{
  background-color: white;
}
.canva{
  height: 100vh;
  width: 100%;
  color: #3C8270;
  background-color: #3C8270;;
}
.borderR{
  border-radius: 10px;
  width: 100%;
}
.home-barra{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.home-comands{
  padding: 10px;
}
.home-head{
  text-align: center;
  font-size:xx-large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-panel{
  margin-top: 30px;
  padding: 30px;
}
.comands{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  
  transition: 90ms;
}
.comands:hover{
  background-color: rgba(200, 200, 200, 0.9);
}
.button_action{
  background-color: #3C8270;
  color: white;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 90ms;
  font-weight: bold;
}
button{
  cursor: pointer;
}
button:active{
  transform:scale(0.6);
}
tr{
  text-align: center;
}
.box_table{
  padding: 9px;
}
.box_table_button{
  padding: 5px;
}

table, th, td {
  border: 1px solid #3C8270;
  border-collapse: collapse;
  
}
th, td {
  background-color: white;
}

th:hover, td:hover{
  background-color: rgba(200, 200, 200, 0.9);
}
